@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Bold.eot');
    src: url('SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFProDisplay-Bold.woff2') format('woff2'),
        url('SFProDisplay-Bold.woff') format('woff'),
        url('SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Regular.eot');
    src: url('SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Regular.woff2') format('woff2'),
        url('SFUIText-Regular.woff') format('woff'),
        url('SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Bold.eot');
    src: url('SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Bold.woff2') format('woff2'),
        url('SFUIText-Bold.woff') format('woff'),
        url('SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('SFUIText-Light.eot');
    src: url('SFUIText-Light.eot?#iefix') format('embedded-opentype'),
        url('SFUIText-Light.woff2') format('woff2'),
        url('SFUIText-Light.woff') format('woff'),
        url('SFUIText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

